@charset "UTF-8";

h1, h2, h3, h4, h5 {
  font-family: "Slackey", cursive;
}

p {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
}

button, .button, .button_overlay {
  font-family: "Slackey", cursive;
}
